<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title> Test Website </title>

    </head>

    <body class="flex flex-col font-mono h-screen">
        <nav class="text-md border-b-2 border-black">
            <div class="container flex items-center justify-between p-6 mx-auto capitalize">
                <div>
                    <a href="/" class="font-bold mx-1.5 sm:mx-6 hover:italic">Home</a>
                </div>
            </div>
        </nav>

        {% block content %}{% endblock content %}

    </body>
</html>